$grey:              #e5e5e5;
$darkgrey:          #666666;
$lightblack:        #4c4c4c;
$body-background:   #f6f6f6;


.search-facet-applied {
  min-height: 50px;
  .btn {
    margin-bottom: 5px;
    .category-label { float: left !important; }
    .close { margin-top: -2px; margin-left: 5px; }
  }

}

.search-facet-group {
    margin-bottom: 8px;
    border: none;
    box-shadow: none;

    .facet-label {
        border-radius: 4px;

        &.panel-heading {
            padding: 0;
            background: $grey;
        }

        .panel-title {
            color: $lightblack;
            font-size: 14px;
            font-weight: 500;

            a {
                display: block;
                padding: 10px 28px 10px 10px;
                position: relative;

                &:hover,
                &:focus {
                    text-decoration: none;
                }

                .glyphicon {
                    position: absolute;
                    right: 16px;
                    top: 10px;
                }
            }
        }
    }

    &.panel.panel-default {
      & > .panel-collapse > .panel-body,
      & > .facet-label.panel-heading {
        border: none;
      }
    }

    &.panel.panel-default {
      margin-top: 15px;
      background-color: $body-background;

      & > .panel-heading {
        border: 0;
      }
    }

    .panel-body {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;

        > .term {
            margin: 6px 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            a.active {
              color: $lightblack;
              font-weight: bold;
              text-decoration: none;
            }
        }

        .count {
            display: inline-block;
            background: $grey;
            border-radius: 10px;
            color: $darkgrey;
            font-size: 11px;
            padding: 3px 7px;
            line-height: 1;
            text-align: center;
            vertical-align: baseline;
        }
    }
}
